@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

#projects{
    position: absolute;
    width: 100%;
    height: 110vh;
    background-color: #2b0f2d;
    background: linear-gradient(0deg, #2b0f2d 97%, #311237 100%); 
    transform: translateY(100vh);
}

.projects__container{
    position:absolute;
    top: 15vh;
    left: 25vh;
    right: 25vh;
    text-align: left;
}

.projects__title{
    width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.projects__subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 1.5vh;
    text-align: justify;
    margin-top: 1rem;
}

.projects__list{
    padding-top: 10vh;
    display: flex;
    width: fit-content;
    margin: auto;
}