.page_route{
    position: absolute;
    top: 15vh;
    right: 25vh;
    width: 35vh;
    text-align: right;
    border-top: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.3vh;
    padding-top: 2vh;
    text-transform: uppercase;
}

@media screen and (max-height : 950px) {
    .page_route{
        right: 3rem;
        width: 40%;
        top: 7rem;
    }
}