.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.main__container{
  transform-style: preserve-3d;
  width: 100%;
  height: 100vh;
  background-color: #0a0030;
  padding-top: 8vh;
}

.background__back{
  background-image: url("../src/images/svg/Landscape/Background.png");
  background-size: contain;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.background__middle{
  background-image: url("../src/images/svg/Landscape/Middleground.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}

.background__front{
  background-image: url("../src/images/svg/Landscape/Foreground.png");
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.nav__container{
  transform: translateZ(150vh);
  height: 230vh;
  position: absolute;
}

.divider{
  height: 15vh;
  background-color: #351f5d;
  transform: translateZ(-5vh);
}