.App {
  text-align: center;
}

.App-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
 
}

.main__container{
  transform-style: preserve-3d;
  width: 100%;
  height: 100vh;
  background-color: #0a0030;
  padding-top: 8vh;
}

.background__back{
  background-image: url("../src/images/svg/Landscape/Background.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

.background__middle{
  background-image: url("../src/images/svg/Landscape/Middleground.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.background__front{
  background-image: url("../src/images/svg/Landscape/Foreground.png");
  background-size: contain;  
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}

.nav__container{
  transform: translateZ(150vh);
  height: 230vh;
  position: absolute;
}

.divider{
  height: 15vh;
  background: rgb(51,21,70);
  background: linear-gradient(0deg, rgba(51,21,70,1) 70%, rgba(50,16,71,0) 75%); 
  transform: translateZ(150vh);
}

@media screen and (max-height : 950px) {
  .App{
    overflow-x: hidden;
  }

  .main__container{
    padding-top: 1rem;
  }

  .background__front{
    background-position-y: bottom;
    height: 100%;
    width: 300%;
    transform: translateY(0) translateX(-13rem) translateZ(105vh)!important;
  }

  .background__middle{
    background-position-y: bottom;
    height: 90%;
    width: 300%;
    transform: translateX(-30rem) translateZ(55vh);
  }

  .background__back{
    background-position-y: bottom;
    background-position-x: center;
    height: 95%;
    width: 430%;
    left: -160%;
    transform: translateZ(5vh);
  }

  .divider{
    background: none;
    background: rgb(51,21,70);
  }

  .nav__container{
    height: 600vh;
    backdrop-filter: blur(5px);
  }
}